body{
	font-family: Verdana, Arial, sans-serif;
	font-size: 15px; 
	background-color: #D3D3D3; 
}

img{
	width: 100%;
}

/*topo*/
#logo{
	width: 8%;
	float:left;
	margin-bottom: 2%;
}

#nome_site{
	margin-top: 2%;	
	width: 85%;
	float: left;
}

.divider{
	clear: both;
}
#admin{
	float: right;
	border: 2px solid gray;
}

/*menu*/
.menu{
	width: 100.777%;
	margin-bottom: 30px;
	background-color: #0f6da7;
}

.item.menu{
	width: 15%;
	float: left;
	font-size: 115%;
	border:6px;
	border-bottom: 1px solid #2F4F4F;
	border-right:  1px solid #2F4F4F;
	border-left:  1px solid #2F4F4F;
	border-top:  1px solid #2F4F4F;
	text-align: center;
	padding: 0.7%;
	background-color: #2F4F4F;
	color: #fff;
}

.item.ativo{
	background-color: #eee;
}

a{
	color:#000;
}

.item.menu:hover{
	background-color: #577676;
	border:6px;
	border-bottom: 1px solid  #577676;
	border-right:  1px solid #577676;
	border-left:  1px solid  #577676;
	border-top:  1px solid #577676;

	
}

/*conteudo geral*/
.coluna10{
	width: 10%;
	float: left;
	color:#2F4F4F;
}

.coluna80{
	width: 80%;
	float: left;
	border: 1px solid #aaa;
	padding: 2%;
	background: #2F4F4F;
}


.foto{
	width: 25%;
	float: left;
}

.dados{
	float: left;
	margin-left: 5%;
	width: 70%;
	font-size: 150%;
}

.paginacao{
	font-size: 250%;
	font-weight: bold;
	text-align: center;
}

.lista{
	width: 32%;
	float: left;
	margin-right: 1%;
	background: #D3D3D3;
}
.esquerda{
	width: 33%;
	float: left;
	color: #fff;
}
.centro{
	width: 33%;
	float: left;
}
.central{
	margin-left: 32%;
	font-family: verdana;
}
.direita{
	width: 33%;
	float: left;
	color: #fff;
}
.form{
	background-color: #BEBEBE;
	border-radius:6px;
	border-bottom: 1px solid #696969;
	border-right:  1px solid #696969;
	border-left:  1px solid #BEBEBE;
}


a:link 
{ 
 text-decoration:none;
} 
a:link:hover
{ 
 text-decoration:none;
	color: #2F4F4F;
}
.login{
	width: 15%;
	height: 50px;
	float: right;
} 
.form_login{
	width: 15%;
	float: left;
}
.escondido{
	display: none;
}
.form_login{
	
	float: right;
	width: 15%;
}